.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}



/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}



/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}


/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}



/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: gray;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


@media screen and (max-width: 419px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  .row {
    width: 100%;
    margin-top: 10px;
  }
  #lezioni .row>.left,
  #lezioni .row>.central,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .row h3 {
    font-size: 2em;
  }
  .row {
    font-size: 1.5em;
    padding: 0 10%;
  }
  .row h1 {
    font-size: 2.5em;
    padding-top: 15px;
  }
  .container.grey {
    color: white;
  }
  img {
    width: 60%;
    min-width: 100px;
    height: auto;
  }
  #why hr {
    margin: 0.5em 0;
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0.5em;
  }
  .row {
    width: 100%;
    margin-top: 10px;
  }
  #lezioni .row>.left,
  #lezioni .row>.central,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 2em;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 2em;
  }
  .row h3 {
    font-size: 2em;
  }
  .row {
    font-size: 1.5em;
    padding: 0 10%;
  }
  .row h1 {
    font-size: 2.5em;
    padding-top: 1em;
  }
  .container.grey {
    color: white;
  }
  img {
    width: 60%;
    min-width: 100px;
    height: auto;
  }
  #why hr {
    margin: 1em 0;
  }
}
